
/****************************/
/* LOCAL CSS                */
/****************************/

/* Put your custom CSS and CSS overrides in this file and  */
/* rename it local.css.  By restricting your CSS changes   */
/* to local.css, your changes will not be overwritten when */
/* upgrading to a new version of this theme.  You can also */
/* use a local-rtl.css file for the equivalent in RTL.     */

/* Steps to activate local.css:                       */
/* 1. Add your custom CSS to this file                */
/* 2. Rename this file to local.css                   */
/* 3. Clear cached data at admin/settings/performance */



/* Typography 
*****************************************************************************************************************/

h1.title																	{	display: none;
																			}	


.node-type-project h1.title	,
.node-type-waaa-project h1.title											{	text-transform: uppercase;
																				font-size: 1.2em;
																				margin-top: 2em;
																				width: 960px;
																				display: block;
																			}	
																			
h2.block-title																{	text-transform: uppercase;
																				font-size: 1.2em;
																				margin-top: 2em;
																				width: 960px;
																			}
																			
.node-type-project .pane-node-title,
.node-type-waaa-project .pane-node-title									{	text-transform: uppercase;
																				font-size: 1.2em;
																				font-weight: bold;
																			}

.node-type-project .field-field-completion-date,
.node-type-waaa-project .field-field-completion-date						{	font-style: italic;
																			}

#business-card																{	display: block;
																				position: relative;
																				z-index: -100;
																				background-repeat: no-repeat;
																				width: 320px;
																				height: 220px;
																			}

#business-card	.views-field-title,
#business-card	.chinese-title												{	text-transform: uppercase;
																				text-align: center;
																				font-weight: bold;
																				font-size: 1.2em;
																				width: 320px;
																				padding: 0;
																				margin: 0;
																			}

#business-card	.views-field-title											{	margin-bottom: 0px;
																			}

#business-card	.chinese-title												{	padding: 10px 0 14px 0;
																				margin-bottom: 20px;
																			}

#business-card	.views-field-body											{	text-align: center;
																			}

/* 
Navigation Typography*/																												
#primary-menu-inner ul li	a												{	text-transform: uppercase;
																				font-size: 1.1em;
																				font-weight: bold;
																				text-decoration: none;
																			}		
																												
#primary-menu-inner ul li	a:hover											{	text-transform: uppercase;
																				font-size: 1.1em;
																				font-weight: bold;
																			}	
															
.view-Clients-Partners .views-field-title a,
.view-Projects .views-field-title a  		 								{	font-size: .8em;
																				text-decoration: none;
																				line-height: 100%;
																				max-width: 90px;
																			}
																				
a																			{	text-decoration: none;
																			}
																				
a:hover																		{	text-decoration: underline;
																			}			
																																						
.pane-menu-secondary-links ul li											{	font-size: .7ex;
																			}

.view-Waaarkers .views-field-title											{	font-weight: bold;
																				text-transform: uppercase;
																			}

.view-Miscellaneous .form-item	input,
.view-Miscellaneous .form-item	textarea									{	font-weight: normal;
																				font-size: 8pt;
																				font-style: italic;
																				font-family: Helvetica Neue, Helvetica , Arial , sans-serif;
																			}

.view-Clients-Partners .views-view-grid .views-field-title 	a				{	font-size: .9em;	
																			}

.view-Clients-Partners .views-view-grid .views-field-title 	a:hover			{	text-decoration: underline;	
																			}
																			
.views-field-field-job-title-value											{	/* font-weight: bold; */
																			}
																			
.views-field-field-main-areas-value											{	font-style: italic;
																			}
																			
.project-tags ul li	a														{	font-style: italic;
																			}


																			
#mini-panel-footer_contact													{	line-height: 180%;
																			}
																			
.news-body p																{	padding-right: 1em;
																			}

/* Colors 
*****************************************************************************************************************/
/* green #66b439 */ 

span.green,
.node-type-news .views-field-created										{	color: #66b439;
																			}

body																		{	background-repeat: repeat;
																			}	


p																			{	color: #777;
																			}
																			
.node-type-project h1.title		,
.node-type-waaa-project h1.title											{	color: #66b439;
																				border-bottom: 1px solid #66b439;
																			}

h2.block-title																{	color: #66b439 ;
																				border-bottom: 3px solid #66b439 ;
																			}

#business-card	.views-field-title,
#business-card	.chinese-title												{	color: #66b439 ;
																			}

#business-card	.views-field-body											{	color: #888;
																			}
																			
.contact-form h2.block-title												{	color: #66b439 ;
																				border-bottom: none ;
																				padding-left: 90px;
																			}

#primary-menu																{	border-bottom: 3px solid #66b439 ;
																			}
																			
#primary-menu-inner ul li	a												{	color: #000;	
																			}	
																												
#primary-menu-inner ul li.active-trail a									{	color: #fff;	
																				background: #66b439;
																			}		
																												
#primary-menu-inner ul li	a:hover											{	color: #fff;	
																				background: #66b439;
																			}
															
.view-Clients-Partners .views-field-title a	 								{	color: #777;
																			}
															
.view-Clients-Partners .views-field-title a:hover	 						{	color: #66b439;
																			}
															
.view-Projects .views-field-title a  		 								{	background: #66b439;
																				color: #fff;
																			}

.view-Waaarkers .views-field-title											{	color: #66b439;
																			}
																			
.views-field-field-publication-date-value,																			
.views-field-field-press-publication-name-value								{	color: #66b439;
																			}
																			
.views-field-field-job-title-value											{	color: #66b439;
																			}
																			
.views-field-field-main-areas-value	,
.node-type-news .pane-node-created											{	color: #777;
																			}																				

a																			{	color: #777;
																			}
																				
a:hover,
.node-type-project .pane-node-title,
.node-type-waaa-project .pane-node-title									{	color: #66b439;
																			}
/* Colors Footer */																			
#postscript-bottom-inner													{	border-top: 3px solid #66B439;
																				margin-top: 10px;
																			}

.f .x, .f .w 																{	background: #66b439;
																			}

iframe 																		{	border: none;
																			}

.view-Miscellaneous .form-item input,
.view-Miscellaneous .form-item textarea										{	border: 1px solid #66b439;
																				color: #777;
																			}
																			
.project-tags ul,
.project-tags ul li,
.project-tags ul li	a														{	background: #fff;
																				display: block;
																			}
																			
#preface-top-inner															{	background: transparent;
																			}
																			
#main																		{	/* background: #ccc; */
																			}


/* Layout 
*****************************************************************************************************************/

#main,
#preface-top-inner,
#header-group-inner,
#postscript-bottom-inner													{	width: 944px;
																				margin-left: auto;
																				margin-right: auto;			
																			}

#main																		{	margin-top: 0;
																				padding-top: 0;
																			}

#block-search-0																{	float: right;
																				width: 167px;
																				position: relative;
																				top: 80px;
																			}													

#search-block-form label													{	display: none;
																			}
																			
.top-banner	img																{	width: 944px;
																			}

#pid-home #main-content-inner,
#pid-about #main-content-inner,
#pid-works #main-content-inner,
#pid-clients-partners #main-content-inner,
#pid-links #main-content-inner,
#pid-contacts #main-content-inner											{	margin-top: -14px;
																			}
																			
#mini-panel-footer_contact													{	margin-top: -28px;
																			}

#pid-contacts #mini-panel-footer_contact									{	margin-top: 0;
																			}
.block,																			
.block .inner 																{	margin: 0;
																				padding: 0;						
																			}

#page																		{	position: relative;
																			}

#header-site-info															{	position: relative;
																				top: 20px;
																			}

.project-description														{	/* width: 94%; */
																				padding-right: 10px;	
																			}

.node-type-news #postscript-top												{	margin-top: -10px;
																			}

.node-type-news .pane-node-created											{	margin: 10px 0 -5px 0;
																			}
																			
#primary-menu																{	position: relative;
																				top: -20px;
																			}	
															
#footer-wrapper																{	/* margin: 2em 0 0 0; */
																			}
																			
.node-type-project .pane-node-title,
.node-type-waaa-project .pane-node-title									{	margin: 2em 0 .2em 0;
																			}
.view-Clients-Partners,
.view-Projects  		 													{	position: relative;
																			}
																			
.node-type-project .view-Projects  		 									{	position: relative;
																				left: 0;
																			}																				
																			
#pid-clients-partners .views-view-grid tbody tr td,
#pid-about .views-view-grid tbody tr td										{	vertical-align: top;
																			}

.view-Waaarkers .views-field-body											{	display: block;
																				max-width: 290px;
																			}

.view-Waaarkers .views-field-field-social-network-fid img					{	float: left;
																				display: inline;
																				margin: 0 10px 0 0;
																				width: 30px;
																				height: 30px;
																			}

.view-Waaarkers .views-field-field-headshot-fid								{	display: block;
																				width: 290px;
																				height: 410px;
																				box-shadow: #aaa 0 2px 10px;
																				-moz-box-shadow:  #aaa 0 2px 10px;
																				-webkit-box-shadow:  #aaa 0 2px 10px;
																				behavior: url(ie-css3.htc);
																				margin: 0 10px 20px 5px;
																			}

.view-Waaarkers .views-field-field-headshot-fid	img							{	display: block;
																			}
																			
.studio-pics ul																{	margin: 0;
																				padding: 0;
																			}
																			
.studio-pics ul li,
.studio-pics ul li a														{	list-style: none;
																				margin: 0;
																				padding: 0;
																				line-height: 100%;
																			}
																			
.studio-pics ul li															{	display: inline;
																				float: left;
																			}
																			
.studio-pics ul li 															{	margin: -2px 0 0 0;
																			}
																			
.views-field-field-job-title-value											{	margin: 4px 0 0 0;
																			}
																			
.view-Press .views-field-field-graphics-fid									{	display: block;
																				width: 313px;
																			}

.view-Press .views-field-field-graphics-fid	.field-content 					{	display: block;
																				margin: 0 14px 5px 0;
																				padding: 9px;
																				box-shadow: #ccc 0 0 5px;
																				-moz-box-shadow: #ccc 0 0 5px;
																				-webkit-box-shadow: #ccc 0 0 5px;
																			}
																			
.views-field-field-press-publication-name-value								{	float: left;
																				margin: 0 5px 60px 0;
																			}
.view-Clients-Partners  ul,
.view-Clients-Partners  .block ul, 
.view-Clients-Partners  .block ol,
.view-Clients-Partners  .block .inner,
.view-Clients-Partners  ul li,
.view-Projects ul,
.view-Projects ul li,
.view-Projects .block ul,
.view-Projects .block ol,
.view-Projects .block .inner 		 										{	margin: 0;
																				padding: 0;
																			}

.view-Clients-Partners .views-view-grid .views-field-title					{	display: block;
																				width: 270px;	
																			}

.view-Clients-Partners .views-view-grid tbody tr td		 					{	border-right: 70px solid transparent;
																			}

.view-Clients-Partners  ul li												{	list-style: none;	
																			}	

.view-Projects ul li 														{	list-style: none;
																				display: inline;
																				float: left;	
																			}
															
.view-Clients-Partners  ul,
.view-Projects ul 		 													{	width: 99.7%;
																				margin-left: auto;
																				margin-right: auto;
																			}
															
.view-Clients-Partners  ul li												{	position: relative;
																			}
																																					
.view-Clients-Partners .views-field-body p									{	display: block;
																				width: 260px;
																				max-width: 260px;
																			}

.view-Clients-Partners .views-field-field-logo-fid,
.view-Clients-Partners .views-field-title	,
.view-Clients-Partners .views-field-field-external-link-url					{	
																			}

.view-Clients-Partners .views-field-field-logo-fid							{	margin-top: 2em;
																				width: 200px;
																				margin-left: auto;
																				margin-right: auto;
																				text-align: center;
																				
																			}
																				
.business-partners .views-field-field-logo-fid	img							{
																			}														

.view-Clients-Partners .views-field-title a 								{	
																			}	
															
.view-Clients-Partners .views-field-title a:hover 							{
																			}
																			
.project-tags ul															{	margin: 2em 0 0 0;
																			}
																			
.project-tags ul li	a														{	margin: 0;
																				padding: 0 5px 0 5px;
																				display: inline;
																				float: left;
																			}

.other-projects ul li,
.projects-by-type ul li,
.project-by-category ul li													{	position: relative;
																				width: 105px;
																				height: 105px;
																				margin: 0;	
																			}
																			
																																

.other-projects .views-field-title a,
.projects-by-type .views-field-title a,
.project-by-category .views-field-title a									{	position: absolute;
																				display: block;
																				top: 0;
																				left: 0;
																				width: 85px;
																				height: 85px;
																				max-width: 100px;
																				padding: 10px;
																				opacity: 0;
																				filter: alpha( opacity = 0);
																				-moz-opacity: 0;
																			}	
															
.other-projects .views-field-title a:hover,
.projects-by-type .views-field-title a:hover,
.project-by-category .views-field-title a:hover  		 					{	transition: opacity .6s;
																				-webkit-transition: opacity .6s;
																				-o-transition: opacity .6s;
																				opacity: 1;
																				-moz-opacity: 1;
																				-webkit-opacity: 1;
																				filter: alpha( opacity = 100); 
																			}	
/* 
Layout Navigation */
#primary-menu-inner ul li													{	list-style: none;
																				float: left;
																				display: inline;
																			}
																				
.pane-menu-secondary-links	ul li											{	list-style: none;
																			}	
																												
#primary-menu-inner ul 														{	position: relative;
																				margin: 0;
																				padding: 0;
																				top: 0;
																				float: right;
																				margin-right: -10px;
																			}		
																												
#primary-menu-inner ul li													{	padding: 2em .8em 0 .8em;
																			}		
																												
#primary-menu-inner ul li a													{	padding: 8px .6em .3em .6em;
																			}	
																																						
.pane-menu-secondary-links													{	margin: 1em 0;
																			}		
																																						
.pane-menu-secondary-links ul												{	margin: 0;
																				padding: 0;
																			}																		
.view-Miscellaneous td.col-1,
.view-Miscellaneous td.col-2,
.view-Miscellaneous td.col-3												{	width: 320px;
																			}
																			
.mission-services 															{	margin: 2em 0 0 0;
																			}
																			
.mission-services .views-field-title										{	margin: 0 0 -10px 5px;
																			}
																			
.mission-services .views-field-body											{	width: 300px;
																				margin: 0;
																				padding: 0 5px;
																			}
/* 
Layout Footer */
																			
#footer .view-Miscellaneous	.view-content									{	/*
width: 200px;
																				margin-left: auto;
																				margin-right: auto;
*/
																			}	
																			

															
.view-Miscellaneous ul,
.view-Miscellaneous .block ul, 
.view-Miscellaneous .block ol,
.view-Miscellaneous .block .inner,
.view-Miscellaneous ul li 		 											{	margin: 0;
																				padding: 0;
																			}
																			
.view-Miscellaneous	ul li													{ 	list-style: none;
																				display: inline;
																				float: left;
																				margin-right: 20px;
																			}	

.view-Miscellaneous .form-item	input										{	width: 290px;
																				height: 16px;
																				margin: 0;
																				padding: 2px 0;
																			}	

.view-Miscellaneous .form-item	textarea									{	width: 290px;
																			}																		
															
															
.resizable-textarea .grippie 												{	height: 9px;
																				overflow: hidden;
																				background: #66b439 url(../../misc/grippie.png) no-repeat center 2px;
																				border: 1px solid #66b439;
																				border-top-width: 0;
																				cursor: s-resize;
																			}

#postscript-bottom-inner .view-Miscellaneous 								{	width: 180px;
																				margin-left: auto;
																				margin-right: auto;
																				padding-left: 45px;
																			}

#postscript-bottom-inner .view-Miscellaneous ul								{	margin: 1em 0 0 0;
																				text-align: center;
																			}
																			
#footer-inner #block-menu-menu-tertiary-menu 								{	width: 480px;
																				display: block;
																				padding-bottom: 4em;
																				padding-top: 4px;
																				margin-left: 26%;
																			}

#footer-inner #block-menu-menu-tertiary-menu ul								{	margin: 0;
																				padding: 0;
																			}


#block-menu-menu-tertiary-menu ul li										{	list-style: none;
																				display: inline;
																				float: left;
																				padding: 0 10px;
																				border-right: 1px solid #ccc;
																			}
																			
#block-menu-menu-tertiary-menu ul li.first									{	padding-left: 0;
																			}

#block-menu-menu-tertiary-menu ul li.last									{	border-right: none;
																			}
																			
.map																		{	margin: 28px 0 0 0;
																			}															
															
															
															
															
															